@font-face {
  font-family: 'Core-regular';
  src: url('../fonts/core-regular.otf');
}

@font-face {
  font-family: 'Core-bold';
  src: url('../fonts/core-bold.otf');
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: 'Core-regular';
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
