.title {
  color: #333;
  padding-bottom: 20px;
  text-align: left;
}
.text {
  color: #777;
}
.btn {
  margin-top: 24px !important;
  display: inline-block;
  width: 150px;
  padding: 10px 10px;
  margin: 20px auto;
  background: hsl(224, 100%, 64%);
  border-radius: 2px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: 'Core-regular';
}
